body{
  padding: 0;
  margin: 0;
  background-image: url("../assets/teach-multiplication.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}



h1{
  text-align: center;
  -webkit-text-stroke: 1.3px black;
  font-family: arial; color: white;
}

#container{
  width: 60%;
 
  border: 1px solid black;
  margin: auto;
  background-color: rgb(248, 233, 214);
  opacity: 0.8;
  border-radius: 20px;
  border: none;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
}
h2{
  text-align: center;
}
#form-container{
  display: flex;
  flex-direction: column;
  
}

#formulario{
  width: 55%;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px; 
}


#botao-enviar, #botao-limpar{
  width: 8rem;
  height: 2rem;
  margin-right:auto;
  margin-left: auto;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  background-color: orange;
  cursor: pointer;
}

#botao-enviar:hover, #botao-limpar:hover{
  background-color: orangered;
}
